.centro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.centro-icon {
    text-align: center;
    cursor: pointer;
}
.centro-icon img {
    width: 100px;
    height: 100px;
}
/* Icono de Unidades */
.unit-icon {
    width: 24px;
    height: 24px;
}

/* Estilo para los nombres de las facilities */
.centro-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 8px;
	font-family: 'Arial', sans-serif;
}

/* Estilo para las leyendas de desactivado */
.centro-inactive {
    font-size: 14px;
    color: #888;
}
/* Estilo para las leyendas de desactivado */
.centro-active {
    font-size: 14px;
    color: #888;
}
/* Estilo para las leyendas de desactivado */
.unit-inactive {
    font-size: 14px;
    color: #888;
}
/* Estilo para las leyendas de desactivado */
.unit-active {
    font-size: 14px;
    color: #888;
}
.unit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unit-icon img {
    width: 50px; /* Ajusta según tu preferencia */
    height: 50px; /* Ajusta según tu preferencia */
}

.unit-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Estilos para la ventana emergente */
.warning-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	font-family: 'Arial', sans-serif;
    z-index: 1000;
    text-align: center;
}
.warning-popup p {
    margin: 0 0 15px;
}
.warning-popup button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.warning-popup button:hover {
    background-color: #e69500;
}


/* Personalización de la casilla de verificación */
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #28a745;
}
input:checked + .slider:before {
    transform: translateX(20px);
}
